body , html{
    height: 100%;
    margin:0px;
    
}

body {
    padding: 0% 10% 0% 10%;
    background-color: chartreuse; /*TODO: change this*/
}

#root {
    /*display: inline-block;*/
    margin: auto;
    background-color: crimson;
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;
    min-height: 600px;
}

#bookContainer {
    /*display: inline-block;*/
    margin: auto;
    background-color: rgb(10, 76, 175);
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    
}